body {
    font-family: sans-serif;
}
header{
background-color:#5ec947;
border-radius: 40px;
padding: 20px;
}
h1{
color: #8332ed;
}
footer{
background-color: #ea32ed;
padding: 3px;
}
footer p{
background-color: white;
}
nav{
background-color:green;
}
nav a{
color:white;
text-decoration: none;
}
.p{
background-color: lime;
}
h2{
color: blue;
}
.contact{
border:9px solid blue;
text-decoration:none;
}
